/* reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: #ebebeb;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 2fr;
  grid-template-areas:
    "header "
    "social-media"
    "content";
  height: 150vh;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #858381;
  letter-spacing: 1px;
}

.social-media {
  grid-area: social-media;
  background-color: white;
  padding: 25px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 1px 1px #a5a4a3;
}
.content {
  grid-area: content;
  background-color: white;
  padding: 25px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 1px 1px #a5a4a3;
}

.header {
  grid-area: header;
  background-color: white;
  padding: 25px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 1px 1px #a5a4a3;
}

/* box item and space between item */
.box {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 20px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 30px;
}

.social-link {
  color: #949392;
  opacity: 0.6;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 200;
}
.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.img-profil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #aaa9a8;
}
.rouge {
  color: #dd5555;
  font-weight: 800;
}
h3 {
  font-weight: 400;
  text-align: center;
}
.img-contenair {
  text-align: center;
}
/* btn contact */
.btn {
  text-align: center;
}
.btn-rouge {
  padding: 12px 20px;
  background-color: #dd5555;
  color: white;
  border-radius: 10px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in;
  vertical-align: middle;
}
.btn-rouge:hover {
  background: transparent;
  color: #dd5555;
  border: 2px solid #dd5555;
}

mark {
  background-color: #ebebeb;
  color: #858381;
}
h2 {
  text-align: center;
}
.div-categoryContainer {
  display: flex;
}
.picture-left {
  float: left;
  width: 150px;
  height: 250px;
}

.paragraph {
  margin-right: 20px;
}
.paragraph-right {
  margin-top: 20px;
}
.paragraph-right p {
  margin-left: 10px;
}
/* Responsive*/
@media only screen and (max-width: 500px) {
  .grid-container {
    display: grid;
    font-weight: 200;
    font-size: 0.8em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr 1fr;
    grid-template-areas:
      "header "
      "social-media"
      "content";
  }
  .rouge {
    font-weight: 400;
  }
  .box {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
  .div-categoryContainer img {
    text-align: center;
    width: 100px;
    height: 150px;
  }
  .social-link {
    font-size: 0.9em;
    text-decoration: none;
  }
}
